.burger {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: space-around;
  flex-flow: column nowrap;
  position: relative;
  z-index: 100;
}

.burger div {
  height: 3px;
  background-color: #3a3a3a;
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
}
/* Burger menu is closed */
.closed div:nth-child(1) {
  transform: rotate(0);
}

.closed div:nth-child(2) {
  transform: translateX(0);
  opacity: 1;
}

.closed div:nth-child(3) {
  transform: rotate(0);
}

/* Burger menu is open */
.open div:nth-child(1) {
  transform: rotate(45deg);
}

.open div:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}

.open div:nth-child(3) {
  transform: rotate(-45deg);
}
