@import url("https://fonts.googleapis.com/css?family=Revalia");

.cardContainer {
  border: solid 1px white;
  border-radius: 30px;
  padding: 30px 30px;
  min-width: 320px;
  height: fit-content;
  min-height: 435px;
  background-color: white;
  margin-right: 30px;
}

@media (max-width: 1420px) {
  .cardContainer {
    margin-left: calc((100% - 2 * 320px) / 3);
    margin-right: 0;
  }
}

@media (max-width: 1060px) {
  .cardContainer {
    margin-left: calc((100% - 320px) / 2);
  }
}

@media (max-width: 720px) {
  .cardContainer {
    margin: 25px 0 0 0;
    min-width: 100%;
  }
}

.cardContainer:hover .fadeOut {
  background: unset;
}

.cardContainer:hover .testimonial {
  max-height: calc(1.3em * 20); /* max 20 lignes */
}

.imageWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.imageWrapper span {
  border-radius: 100%;
}

/* .quoteContainer{
  position: absolute;
  top: 65px;
  right: calc(100%/2 - 50px);
} */

.quote {
  position: absolute;
  top: 65px;
  right: calc(100% / 2 - 50px);

  background-color: #f7fafb;
  color: #0085ff;
  font-family: Revalia;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 60px;
  line-height: 60px;

  padding-top: 20px;
}

.testimonial {
  margin: 30px 0;
  line-height: 1.3em;
  font-weight: 300;
  transition-property: max-height;
  transition-duration: 1s;
  max-height: calc(1.3em * 5); /* max 6 lignes */
  overflow: hidden;
  position: relative;
}

@media (max-width: 720px) {
  .testimonial {
    max-height: unset;
    margin: 30px 20px;
  }
}

.fadeOut {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%
  );
}

@media (max-width: 720px) {
  .fadeOut {
    background: unset;
  }
}

.break {
  width: 80px;
  margin: 0 auto;
  border-bottom: solid 1px lightgrey;
}
.signatureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  margin: 20px 0 0;
}
.signature {
  /* height: 80px; */
  height: fit-content;
}

.name {
  text-align: center;
  color: #0085ff;
  font-weight: 500;
  margin: 0;
}

.jobTitle {
  text-align: center;
  color: #808080;
  margin: 0;
}
