.CTA {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CTA a {
  text-decoration: none;
  padding: 10px 0;
  border: solid 1px #0085ff;
  border-radius: 5px;
  background-color: #f7fafb;
  color: #0085ff;
  width: 100%;
  text-align: center;
}
