.cardFormation {
  border-radius: 5px;
  position: relative;
}

.cardFormation:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -2px;
}

.imgCard > span {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block !important;
}

.CardFormationWrapper {
  border: 1px solid #d5e3ec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.formationInfo {
  margin: 0px 15px;
}
.formationTitle {
  font-weight: 500;
  margin: 16px 0;
}
.formationDescription {
  color: #808080;
  font-weight: 300;
}
.cardFooterContainer {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  color: #808080;
  background-color: #dff0ff;
}

.cardFooterInfo {
  display: flex;
}
.cardFooterInfo span {
  padding-left: 5px;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: block;
  color: transparent;
}
