.cardFormation {
  border-radius: 5px;
  position: relative;
  /* box-shadow: -2px -2px 1px 1px rgb(128, 128, 128, 0.2),
    2px 2px 1px 1px rgb(128, 128, 128, 0.2); */
}

.cardFormation:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -2px;
}

.imgCard > span {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block !important;
}

.CardFormationWrapper {
  /* border: 1px solid #d5e3ec; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: calc(100% - 2px);
  margin: -1px auto;
  display: flex;
  flex-direction: column;
  box-shadow: -1px 0px 1px 1px rgb(128, 128, 128, 0.2),
    1px 1px 1px 1px rgb(128, 128, 128, 0.2);
}

.formationInfo {
  margin: 0px 15px;
}
.formationTitle {
  font-weight: 500;
  margin: 12px 0 0;
  color: inherit;
}
.formationDescription {
  color: #808080;
  font-weight: 300;
  text-align: left;
}
.cardFooterContainer {
  padding: 5px 0;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  color: #808080;
  /* background-color: #dff0ff; */
}

.cardInfoWrapper {
  display: flex;
  justify-content: space-between;
}
.priceContainer {
  width: 40%;
  display: flex;
  align-items: center;
}

.price {
  font-size: 2em;
}
.price span {
  font-size: 0.5em;
}

.cardInfoContainer {
  /* display: flex; */
  /* justify-content: space-between; */
  /* margin: 10px 0; */
}

.cardInfo {
  display: flex;
  margin: 5px 0;
}

.cardInfo span {
  padding-left: 5px;
}

.CTA {
  display: flex;
}

.CTA a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px;
  white-space: nowrap;
  font-size: 1.2em;
  border: solid 1px #0085ff;
  background-color: #0085ff;
  border-radius: 5px;
  color: #f7fafb;
  margin-top: 20px;
  margin-right: 20px;
  font-weight: 500;
}

.CTA a:hover {
  opacity: 0.8;
}

.CTA a:nth-child(1) {
  background-color: #f7fafb;
  color: #0085ff;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: block;
  color: transparent;
  z-index: 50;
}

.linkAdmin {
  z-index: 100;
  position: relative;
}
