.commentForm label,
.commentForm input,
.commentForm textarea {
  display: block;
}

.commentForm label {
  margin-top: 20px;
  font-size: 0.8em;
  color: #616c73;
}

.commentForm input,
.commentForm textarea {
  margin-top: 5px;
  background-color: #f7fafb;
  border: solid 1px #d5e3ec;
  line-height: 1.5em;
  padding: 10px 5px;
  font-size: 1.25em;
  font-family: inherit;
}

.commentForm textarea {
  width: 100%;
  height: 150px;
}

.commentForm button {
  margin-top: 20px;
  color: #f7fafb;
  background-color: #0f56b3;
  padding: 10px;
  border: solid 2px #0f56b3;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 1px;
  border-radius: 5px;
}

.commentForm button:hover {
  background-color: #f7fafb;
  color: #0f56b3;
  cursor: pointer;
}
