.commentInput{
  padding: 20px 0;
}
.commentInput h3 {
  margin-bottom: 5px;
}
.break {
  width: 100%;
  border-bottom: 1px solid lightgray;
  margin: auto;
}

.commentInput label,
.commentInput input,
.commentInput textarea {
  display: block;
}

.commentInput label {
  margin-top: 20px;
  font-size: 0.8em;
  color: #616c73;
}

.commentInput input,
.commentInput textarea {
  margin-top: 5px;
  background-color: #f7fafb;
  border: solid 1px #d5e3ec;
  line-height: 1.5em;
  padding: 10px 5px;
  font-size: 1.25em;
  font-family: inherit;
}

.commentInput textarea {
  width: 100%;
  height: 150px;
}

.commentInput button {
  margin-top: 20px;
  color: #f7fafb;
  background-color: #0f56b3;
  padding: 10px;
  border: solid 2px #0f56b3;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 1px;
  border-radius: 5px;
}

.commentInput button:hover {
  background-color: #f7fafb;
  color: #0f56b3;
  cursor: pointer;
}