.cardFormationContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 32px;
}

@media (max-width: 375px) {
  .cardFormationContainer {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

.introNotMobile {
  grid-column-start: 1;
  grid-column-end: 3;
}

.strong {
  color: #0085ff;
}

.intro p {
  color: #808080;
  font-weight: 300;
  font-size: 1.1em;
}

.introNotMobile p {
  font-size: 1.5em;
}
