.container {
  display: flex;
  margin: 20px;
}

.download {
  margin: 10px;
  width: 640px;
  height: 360px;
}

.download a {
  display: block;
}

.sectionChapters a {
  display: block;
}

.disabled {
  pointer-events: none;
}
