@media (min-width: 706px) {
  .exerciceContainer {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-gap: 30px;
  }
}

@media (min-width: 1100px) {
  .exerciceContainer {
    grid-gap: 50px;
  }
}

.exerciceTitle {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.5em;
  height: 2em;
  padding-left: 15px;
  padding-right: 5px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exerciceTitleSelected {
  background-color: #deebfa;
  border: solid 1px #deebfa;
  color: #0085ff;
}

.exerciceMenuUl {
  padding: 0;
  margin: 0;
  grid-row-start: 1;
  grid-row-end: 3;
  border-right: 1px solid lightgrey;
}

.exerciceMenuLi {
  list-style-type: none;
  cursor: pointer;
}

.selected {
  display: block;
}

.unselected {
  display: none;
}

.chapterTitleUl {
  padding-left: 20px;
}

.chapterTitleLi {
  list-style-type: none;
  line-height: 2em;
  padding-left: 10px;
  border-left: solid 1px lightgrey;
}

.chapterTitleLiSelected {
  border-left: solid 3px #0085ff !important;
  font-weight: 500;
}

.videoContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
