@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: normal;
  color: #3a3a3a;
}

main{
  margin: 24px auto;
  max-width: 1400px;
  width: calc(100% - 20px * 2);
}

h1 {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.25em;
  margin-top: 0;
}

.ProseMirror {
  border: solid 1px darkgray;
  padding: 5px;
}

.ProseMirror ul,
ol {
  padding: 0 1rem;
}

.ProseMirror h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

.ProseMirror hr {
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2rem 0;
}
