@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: normal;
  color: #3a3a3a;
  overflow-x: hidden;
  background-color: #f7fafb;
}

main {
  margin: 24px auto 0;
  max-width: 1400px;
  width: calc(100% - 20px * 2);
  padding-top: 80px;
}

h1 {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.25em;
  margin-top: 0;
  overflow: hidden;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  margin-top: 0;
  color: #002789;
}

.ProseMirror {
  border: solid 1px darkgray;
  padding: 5px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: normal;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}

ul li p,
ol li p {
  margin: 0;
  line-height: 1.1em;
}

.ProseMirror h3,
h3 {
  font-weight: 400;
  font-size: 1.5em;
  color: #0f56b3;

}

.ProseMirror h4,
h4 {
  font-weight: 500;
  font-size: 1.25em;
}

.ProseMirror h5,
h5 {
  font-weight: 500;
  font-size: 1em;
}

.ProseMirror p,
p {
  text-align: justify;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

.ProseMirror hr {
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2rem 0;
}
