.home {
  margin-bottom: 0;
}
.intro {
  margin-bottom: 30px;
}

@media (min-width: 1100px) {
  .intro {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-gap: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

.intro span,
.support span {
  color: #0085ff;
}

.body p {
  font-size: 1.5em;
  color: #808080;
  font-weight: 300;
}

.link {
  display: flex;
}
@media (max-width: 490px) {
  .link {
    display: block;
  }
}

.link a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  white-space: nowrap;
  font-size: 1.2em;
  border: solid 1px #0085ff;
  background-color: #0085ff;
  border-radius: 5px;
  color: #f7fafb;
  margin-top: 20px;
  margin-right: 20px;
}

.link a:nth-child(2) {
  background-color: #f7fafb;
  color: #0085ff;
}

.illustration {
  /* background-color: gray; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 1100px) {
  .support {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
    padding: 70px calc((100vw - 100%) / 2);
  }
}

.support {
  background-color: white;
  margin-bottom: 0;
  width: 100vw;
  margin-left: calc((-100vw + 100%) / 2);
  padding: 30px calc((100vw - 100%) / 2);
  padding-bottom: 40px;
}

@media (min-width: 1100px) {
  .supportWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.supportItemsContainer {
  border: solid 1px lightgrey;
  border-radius: 5px;
}

@media (min-width: 1100px) {
  .supportItemsContainer {
    max-height: calc(3 * 88px + 2px);
  }
}

.supportItemsContent {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.supportItemsContent div {
  margin-left: 20px;
}

.supportItemsContent p {
  margin: 5px 0 0;
  color: #808080;
}

@media (min-width: 1100px) {
  .supportItemsContent p {
    white-space: nowrap;
  }
}

.supportItemsContent a {
  font-size: 1.2em;
  font-weight: 500;
}

.break {
  border-bottom: solid 1px lightgrey;
  width: calc(100% - 40px);
  margin-left: 20px;
}
