.container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}

@media (min-width: 991px) {
  .container {
    grid-template-columns: 1fr 385px;
    margin-bottom: 30px;
  }
}

.blockedContentWrapper {
  position: relative;
}

.blockedContentWrapper:hover {
  cursor: pointer;
}

.blockedContentWrapper:hover .blockedContent {
  background-color: rgba(58, 58, 58, 0.7);
}

.blockedContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  text-align: center;
  color: whitesmoke;
  background-color: rgba(58, 58, 58, 0.3); /* rgba(58, 58, 58) = #3a3a3a */
  padding: 16px 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.5s ease-in;
}

.blockedImageWrapper {
  overflow: hidden;
}

.blockedImageWrapper > span {
  display: block !important;
  filter: blur(2px);
}

.svgPlayBlocked {
  background-color: white;
  border-radius: 100%;
  padding: 10px;
}

.textPlay {
  font-size: 0.8em;
  margin-top: 10px;
}

.textDuration {
  font-size: 0.65em;
  margin-top: 4px;
}

.SideCourseChapterContainer {
  position: relative;
}

.chaptersSplit {
  padding: 12px 0;
  background-color: #fff;
}

@media (min-width: 991px) {
  .chaptersSplit {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    border: 1px solid #d5e3ec;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 2px rgba(38, 38, 38, 0.2);
  }
}

.chapterTitle {
  margin: 0;
  padding: 8px 24px;
  font-weight: 400;
}
.chapterTitle a {
  text-decoration: none;
  color: inherit;
}

.link {
  text-decoration: none;
  display: flex;
  padding: 12px 24px;
  color: inherit;
  font-weight: 400;
}
.link:hover {
  background-color: #f7fafb;
}

.linkDetails {
  display: flex;
  align-items: center;
  width: 100%;
}

.svgPlay {
  background-color: #f7fafb;
  border-radius: 100%;
  padding: 8px;
}

.lectureTitle {
  margin-left: 8px;
}

.lectureDuration {
  margin-left: auto;
  color: #808080;
  font-size: 0.8em;
}

.download {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  width: 100%;
}

.download a {
  margin-left: auto;
}

.break {
  border-bottom: 1px solid lightgrey;
  width: 100vw;
  margin-left: calc((-100vw + 100%) / 2);
}

.lectureContainer {
  width: 100vw;
  margin-left: calc((-100vw + 100%) / 2);
  padding: 0 calc((100vw - 100%) / 2);
  min-height: 300px;
  background-color: white;
}
.lectureContainer h3 {
  margin-top: 0;
}

.smallNav {
  display: flex;
  font-size: 1.2em;
  overflow: hidden;
}

.smallNav div {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.smallNav span {
  padding: 16px 8px;
}

.selected {
  color: #0f56b3;
  border-bottom: 2px solid #0f56b3;
}

.lectureDescription {
  padding-top: 20px;
}
