.loaded {
  opacity: 1;
}

.loading {
  opacity: 0;
}

.header {
  display: flex;
  padding: 24px 20px 16px 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  position: relative;
}

.headerNav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerNav li {
  margin: auto 20px;
}

.imageWrapper {
  box-sizing: content-box;
}
.imageWrapper > span {
  width: 60px !important;
  height: unset !important;
}

.headerNav a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
.headerNav a:hover {
  color: #0085ff;
}

.headerRightSide {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.liRightSide{
  /* height: 24px; fit svg*/
  /* line-height: calc(24px + 8px); vertical align bottom */
  margin: 5px;
  display: flex;
}

.liRightSide:hover{
  cursor: pointer;
}

.divRightSide{
  margin: 0 5px;
}

.btnLogin {
  width: 124px;
  text-align: center;
  padding:10px;
  border-radius: 4px;
}

.btnLogin a{
  text-decoration: none;
  color: white;
}

.btnSignIn {
  background-color: #00c875;
  margin-right: 10px;
}
.btnSignUp {
  background-color: #0085ff;
  margin-left: 10px;
}

.burger {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
}

.break {
  max-width: 1400px;
  width: calc(100% - 40px);
  border-bottom: 1px solid lightgrey;
  margin: auto;
}
