.sidebar {
  display: flex;
  list-style: none;
  flex-flow: column nowrap;
  background-color: lightgrey;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  padding-left: 0;
  background-color: #f7fafb;
}
.open {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.closed {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.sidebar li {
  padding: 10px;
  text-align: center;
}
.sidebar a {
  text-decoration: none;
  color: #0085ff;
}
