
.uploadContainer input {
  display: none;
}

.itemContainer,
.photoContainer {
  display: flex;
  margin-right: 20px;
  margin-bottom: 10px;
}

.fileContainer {
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

}


.uploadContainer button {
  width: 100px;
  border-radius: 10px;
  padding: 5px 0;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
}

.primatyRemoveBtn {
  background-color: #f7fafb;
  border: solid 1px #e44258;
  color: #e44258;
}

.primaryAddBtn {
  background-color: #f7fafb;
  border: solid 1px #0085ff;
  color: #0085ff;
  max-height: 32px;
}

.uploadContainer button:disabled {
  opacity: 0.6;
}

.uploadContainer span,
.itemContainer span {
  width: 150px;
  display: inline-block;
}

.itemContainer p {
  width: 200px;
  margin: 0 10px 0 0;
  padding: 0 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
